---
// @ts-nocheck
import Buttons from "../../components/Buttons.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const url = "https://trjrkakdlpavygfthheg.supabase.co/rest/v1/distortion-artists";
  const apiKey =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRyanJrYWtkbHBhdnlnZnRoaGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk1ODUyMTQsImV4cCI6MjA0NTE2MTIxNH0.h1EudiiVkfsh6YijqS_2OGDOm8qknymy7mSWQ6bcmk0";

  const response = await fetch(`${url}`, {
    headers: {
      apikey: apiKey,
    },
  });

  const data = await response.json();

  return data.map((post) => {
    return {
      params: { single: post.id },
      props: { post },
    };
    // send al data med som props
  });
}
const { post } = Astro.props;
console.log(post); // artist.name, artist.image osv.
---

<MainLayout>
  <section>
    <div>
      <img src={post.image} alt="" />
    </div>
    <div>
      <h1>{post.title}</h1>
      <h2>{post.genre}</h2>
      <h2>{post.stage}</h2>
      <p>{post.content}</p>
      <Buttons size="sm">GET TICKETS</Buttons>
      <Buttons size="sm">LINE UP</Buttons>
    </div>
    <Buttons class="Back" size="lg">BACK</Buttons>


    <!-- <img src={post.og_image.url} alt="" /> -->
  </section>
</MainLayout>

<style>
  section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  p {
    max-width: 65ch;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: rgb(243, 235, 235);
  }

  img {
    width: 480px;
  }

  h1 {
    font-size: xx-large;
  }

  .Back {
    margin-top: 70px;

  }



  @media (max-width: 800px) {
    *{
      margin: 0;
      padding: 0;
    }
    img {
      width 50%
    }

    section {
      display: flex;
      flex-direction: column;
    }


  }
</style>
